<h1>You Win!</h1>
<img src="https://s-media-cache-ak0.pinimg.com/originals/b1/61/13/b16113345a9c2fbb3d1f38c4cd9122c8.gif">
<br>
<p>
  The word was
  <span class="win"><%= @game.word %></span>.
</p>

<%= erb :new %>
